@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.btn {
  padding: 10px 30px;
  border: 2px solid #454545;
  border-radius: 3px;
  color: #454545;
  width: fit-content;
}

.btn:hover {
  background-color: #454545;
  color: #fff;
}

.bar {
  background-color: #117050;
  height: 22px;
  width: 168px;
  margin-bottom: 10px;
}

.line {
  background-color: #117050;
  width: 100%;
  height: 10px;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header__logo img {
  width: 80px;
  height: auto;
}

.header__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputs__form {
  display: flex;
  align-items: center;
}

.inputs__form input {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 2px;
  max-width: 270px;
  width: 100%;
}

.inputs__form button {
  background-color: transparent;
  border: 0;
  margin-left: -26px;
  cursor: pointer;
}

.inputs__form button img {
  width: 16px;
  height: auto;
}

.menu {
  margin-left: 50px;
  cursor: pointer;
}

.banner {
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 90px 0px;
}

.banner__content h1 {
  font-size: 6rem;
  font-weight: bold;
  line-height: 100px;
  margin: 0;
  font-family: "Oswald", sans-serif;
  margin-bottom: 30px;
}

.banner__content span {
  display: inline-block;
}

.banner__imgs {
  margin-top: 50px;
  display: flex;
  gap: 40px;
}

.banner__imgs img {
  width: 148px;
  height: 148px;
  border-radius: 50%;
  border: 8px solid #117050;
}

.area-one,
.area-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.area-one__img {
  background-image: url("images/f2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
}

.area-one__img2 {
  background-image: url("images/f1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.area__container,
.area-two__container {
  background-color: #fff;
  padding: 90px;
  display: flex;
  flex-direction: column;
}
.area-three__one h2,
.area__container h2,
.area-two__container h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.3rem;
  line-height: 50px;
  font-weight: bold;
}

.area__container i {
  margin: 20px 0px;
}

.area__container a,
.area-three__one a,
.area-two__container a {
  margin-top: 60px;
}

.area__container p,
.area-three__one p,
.area-two__container p {
  line-height: 30px;
}

.area-two__img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-image: url("images/f3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.area-two__img2 {
  height: 450px;
  background-color: green;
  background-image: url("images/f4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.area-two__container p, .area-three__one p {
  margin-top: 20px;
}

.area-three {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area-three__one {
  background-image: url("images/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.area-three__two {
  background-image: url("images/f5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.area-three__one {
  padding: 200px 100px;
  display: flex;
  flex-direction: column;
}

.area-four {
  background-image: url('images/bg3.jpg');
}












